* {
  box-sizing: content-box;
}
.w-80 {
  width: 90% !important;
}

#header img {
  height: auto;
  width: 50%;
}
#header {
  display: flex;
  align-items: center;
  max-height: 50%;
}
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: auto;
  align-items: center;
  background-color: #121212;
  text-decoration: none;
}

#categorySelect {
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #121212;
  color: #e9e9e9;
  cursor: pointer;
}

@media (max-width: 470px) {
  #categorySelect {
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #121212;
    color: #e9e9e9;
    cursor: pointer;
  }
}
